@import "tailwindcss";

/* кажи на Tailwind откъде да сканира класове */
@source "./**/*.{js,ts,jsx,tsx,mdx}";
@source "../**/*.{js,ts,jsx,tsx,mdx}";
@source "../../**/*.{js,ts,jsx,tsx,mdx}";

/* твоите базови */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background: var(--background);
  color: var(--foreground);
}